<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.djaka.flicker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SeatActivity"></activity>
        <activity android:name=".ui.paymentActivity.PaymentActivity" />
        <activity android:name=".ui.paymentChooseActivity.PaymentChooseActivity" />
        <activity android:name=".ui.detailOrderContact.DetailOrderContactActivity" />
        <activity android:name=".ui.detailOrder.DetailOrderActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>